body {
    padding: 0;
    margin: 0;
    font-family: "Anton",sans-serif;
    color:black;
    font-size: 16px;

}

*{
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{

    padding: 0;
    margin: 0;
    text-transform: uppercase;

}

h2{
    font-size: 50px;
    margin-bottom: 58px;
    letter-spacing: 0.02em;
}

h3{
    font-size: 25px;
    margin-bottom: 28px;
}

section{
    padding-top: 113px;
}

a{
    text-decoration: none;
}


p{
    margin: 0;
}

ul, li{

    display: block;
    padding: 0;
    margin: 0;
}

.conteiner{
    width: 1170px;
    margin: 0 auto;
    

}

header{
    background: url(../img/header-bg.jpg) no-repeat center top / cover;
    padding-top: 57px;
    color:#fff;
    padding-bottom: 322px;
}

header a{
    color:#fff;
}


.logo{
    margin-right: 69px;
}

.menu{ 
    display: flex;
}

.menu li a {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.1em;
    transition: all  00.5s ease;
}

.menu li a:hover{
    border-bottom:1px #fff solid ;
}

.menu li {
    margin-right: 40px;

}

.tel{
    font-size: 17px;
    margin-left: auto;
    letter-spacing: 0.1em;
}

.nav{
    display: flex;
    align-items: center;
}

.offer{
    text-transform: uppercase;
    margin-top: 216px;
}

.offer p{
    font-size: 30px;
   
    letter-spacing: 00.1em;
}

.offer h1{
    font-size:  100px;
    letter-spacing: 0.02em;
    margin-bottom: 19px;
    margin-top: -9px;

}

.btn{
    display: block;
    font-size: 17px;
    letter-spacing: 0.1em;
    border: #fff;
    text-align: center;
    border: 1px solid #fff;
    width: 238px;
    padding: 17px 47px;
    transition: all 0.5s ease;
}

.btn:hover{
    background: black;
    color: #fff;
    border: none;
    
}

.description{
    display: flex;
    justify-content: space-between;
}

.description p {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	text-align: justify;
	line-height: 1.62em;
}
.desc-left, .desc-right{
    width: 567px;
}

.gallery{
    margin-top: 67px;
    display: flex;
    justify-content: space-between;
    
}

.gallery img{
    transition: all 0.5s ease;
}

.gallery img:hover{
    box-shadow: 0 20px 40px rgba(0,0,0,0.3);
    transform: scale(1.1);
}

.footer-text{
    font-family: "Open Sans",sans-serif;
    font-size: 15px;
    display: flex;
    padding: 144px 0 ;

}

.footer-text p {
    margin-right: 55px;
}




@media screen and (max-width:1200px) {
    .conteiner{
        width: 1140px;
    }
}

@media screen and (max-width:1199px) {
    .conteiner{
        width: 960px;
    }

    .desc-left, .desc-right{
        width: 48%;
    }

    .gallery img:nth-child(1){
       width: 23%;
    }

    .gallery img:nth-child(2){
      width: 23%;
    }

    .gallery img:nth-child(3){
        width: 48%;
    }
}

@media screen and (max-width: 991px) {
    .conteiner{
        width: 720px;
    }
}

@media screen and (max-width: 767px) {
    .conteiner{
        width: 540px;
    }
}

@media screen and (max-width: 576px) {
    .conteiner{
        width: 100%;
        padding: 0 15px;
    }
}
